@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Datatype:wght@100..900&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,800;1,800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /*========== LIGHT MODE COLORS ==========*/
  --base-color: #ffffff;
  --shadow-color: #8e97a8;
  --secondary-color: #2b2d42;
  --hover-color: #eeeeee;
  --icon-badge: #006ef5;
  --search-color: #2b2d42;
  --search-form-color: #ffffff;
  --border-color: #2b2d42;
  --text-color: #2b2d42;

  /*========== FONTS ==========*/
  --montserrat: "Montserrat";
  --poppins: "Poppins";
  --dm-mono: "DM Mono";
  --roboto: "Roboto";
  --inter: "Inter";
}

.darkmode {
  --base-color: #2b2d42;
  --shadow-color: #8e97a8;
  --secondary-color: #ffffff;
  --hover-color: #2b2d42;
  --icon-badge: #006ef5;
  --search-color: #ffffff;
  --search-form-color: #ffffff;
  --border-color: #2b2d42;
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--hover-color);
}

.container {
  display: grid;
  grid-template-rows: 55px auto 1fr;
  grid-template-columns: minmax(200px, 15%) 1fr 350px;
  height: 100vh;
  grid-template-areas:
    "sidebar    header header"
    "sidebar    banner sidecards"
    "sidebar    hero sidecards";
  grid-gap: 5px;
  padding: 0;
}

/*========= HEADER SECTION =========*/
.header {
  grid-area: header;
  width: 100%;
  height: 100%;
  min-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.header-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
  padding: 0px 40px;
  box-sizing: border-box;
  box-shadow: 0 0 5px var(--shadow-color);
  background-color: var(--base-color);
}

.header-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.header-text p {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--text-color);
  word-spacing: 7px;
}

#theme-switch {
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  border: 0px solid var(--hover-color);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transform: all 0.3s ease;
}

#theme-switch:hover {
  color: var(--search-color);
  background-color: var(--hover-color);
  transform: scale(1.2);
  box-shadow: 0 2px 5px var(--shadow-color);
}

#theme-switch i {
  color: var(--text-color);
  font-size: 1rem;
}

#theme-switch:hover i {
  color: var(--search-color);
}

#theme-switch i:last-child {
  display: none;
}

.darkmode #theme-switch i:first-child {
  display: none;
}

.darkmode #theme-switch i:last-child {
  display: block;
}

.header-icon {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  font-family: var(--montserrat);
}

.header-icon a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.header-icon i {
  width: 30px;
  height: 30px;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: all 0.3s ease;
}

.header-icon i:hover {
  color: var(--secondary-color);
  background-color: var(--hover-color);
  transform: scale(1.2);
  box-shadow: 0 2px 5px var(--shadow-color);
}

.header-icon i:focus {
  color: var(--hover-color);
  background-color: var(--secondary-color);
}

.icon-badge {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.badge {
  font-size: 0.5rem;
  font-family: var(--montserrat);
  font-weight: 600;
}

.header-icon .badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 1px;
  right: -2px;
  width: 10px;
  height: 10px;
  background-color: var(--icon-badge);
  color: var(--search-form-color);
}

.header-line {
  width: 1px;
  height: 2.5rem;
  border: none;
  background-color: var(--shadow-color);
  opacity: 0.5;
}

.search-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.search-item search {
  display: flex;
  align-items: center;
}

.search-item form {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 3.5px 14px;
  background-color: var(--base-color);
}

.search-item input {
  border: none;
  height: 25px;
  width: 170px;
  outline: none;
  background: transparent;
  font-family: var(--poppins);
  font-weight: 500;
  color: var(--text-color);
}

.search-item input::placeholder {
  padding: 0 5px;
  font-family: var(--poppins);
  font-weight: 500;
  color: var(--shadow-color);
}

.search-item i {
  color: var(--shadow-color);
  font-size: 0.9rem;
}
/*========== END OF HEADER SECTION ==========*/

/*========== BANNER SECTION ==========*/
.banner {
  grid-area: banner;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  min-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.banner-item {
  display: flex;
  padding: 0 40px;
}

.banner-item h2 {
  color: var(--text-color);
  font-family: var(--poppins);
  font-size: 2rem;
}
/*========== END OF BANNER SECTION ==========*/

/*========== SIDEBAR SECTION ==========*/
.sidebar {
  background-color: var(--base-color);
  grid-area: sidebar;
  box-shadow: 0 0 5px var(--shadow-color);
  width: 100%;
  height: 100vh;
  min-width: 100px;
  box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  transition: all 0.3s ease;
}

/*========== HEAD ==========*/
.head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 16px;
  margin: 20px 20px;
}

.user-img img {
  width: 2.8rem;
  height: 2.8rem;
  clip-path: circle(50% at 50% 50%);
  object-fit: cover;
}

.user-details {
  font-family: var(--montserrat);
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-title {
  color: var(--search-color);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: -0.4px;
}

.user-name {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--search-color);
  word-spacing: 3.5%;
}

.line {
  width: 85%;
  color: var(--search-color);
  opacity: 0.2;
  margin: -2px auto;
}

/*========== MAIN ==========*/
.main {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.main-title {
  color: var(--search-color);
  font-family: var(--montserrat);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: -0.2px;
  margin-bottom: 15px;
  opacity: 0.8;
}

.menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  color: var(--search-color);
  font-family: var(--montserrat);
  font-size: 0.8rem;
  font-weight: 600;
}

.menu-item {
  position: relative;
}

.menu-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.menu-link:hover {
  background: var(--hover-color);
  color: var(--secondary-color);
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--shadow-color);
}

.menu-link:focus {
  background-color: var(--secondary-color);
  color: var(--hover-color);
}

.menu-link a {
  text-decoration: none;
  color: inherit;
  flex: 1;
  font-size: 0.8rem;
}

.menu-link i {
  font-size: 0.8rem;
}

.arrow {
  transition: all 0.3s;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.submenu {
  list-style: none;
  max-height: 0;
  overflow: hidden;
  margin-top: 5px;
  background-color: var(--base-color);
  color: var(--search-color);
  border-radius: 6px;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  flex-wrap: wrap;
}

.submenu.show {
  max-height: 300px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.submenu li {
  padding: 10px 15px 10px 40px;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submenu li:hover {
  background-color: var(--hover-color);
  color: var(--secondary-color);
  transform: scale(1.1);
  box-shadow: 0 0 0.9px var(--shadow-color);
}

.submenu li:focus {
  background-color: var(--secondary-color);
  color: var(--base-color);
}

.submenu a {
  text-decoration: none;
  color: inherit;
}

/*========== SETTING ==========*/
.setting {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  margin-bottom: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.setting-title {
  color: var(--search-color);
  font-family: var(--montserrat);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: -0.2px;
  margin-bottom: 15px;
  opacity: 0.8;
}

.setting-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 6px;
  gap: 8px;
  font-family: var(--montserrat);
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--search-color);
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.setting-item:hover {
  background: var(--hover-color);
  color: var(--secondary-color);
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--shadow-color);
}

.setting-item:focus {
  background-color: var(--secondary-color);
  color: var(--hover-color);
}

.setting-item span a {
  text-decoration: none;
  color: inherit;
}

/*========== ACCOUNT ==========*/
.account {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 20px;
  margin-top: auto;
  margin-bottom: 20px;
  justify-content: left;
  align-items: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.account-title {
  color: var(--search-color);
  font-family: var(--montserrat);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: -0.2px;
  opacity: 0.8;
  width: 100%;
  margin-bottom: 15px;
}

.account-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.account-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 6px;
  gap: 8px;
  font-family: var(--montserrat);
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--search-color);
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.account-item:hover {
  background: var(--hover-color);
  color: var(--secondary-color);
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--shadow-color);
}

.account-item:focus {
  background-color: var(--secondary-color);
  color: var(--hover-color);
}

.account-item span a {
  text-decoration: none;
  color: inherit;
}

/*========== MENU BTN =========*/
.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--hover-color);
  color: var(--shadow-color);
  box-shadow: 0 0 5px var(--shadow-color);
  transform: scale(1.1);
  cursor: pointer;
}

.menu-btn:hover i {
  color: var(--secondary-color);
}

.menu-btn i {
  transition: all 0.3s ease;
}

.sidebar.active {
  width: 5.75rem;
}

.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}

.sidebar.active .user-details {
  display: none;
}

.sidebar.active .head {
  width: 60%;
}

.sidebar.active .head .user-img {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.sidebar.active .main .main-title {
  text-align: center;
}

.sidebar.active .line {
  border-left: 0;
  border-right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 5px 0;
  margin-left: 8px;
}

.sidebar.active .main {
  width: 60%;
}

.sidebar.active .menu-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar.active .menu-link a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar.active .menu-link .text {
  display: none;
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 7px;
  font-size: 0.55rem;
  border-radius: 4px;
  color: var(--secondary-color);
  background-color: var(--base-color);
  box-shadow: 0 0 10px var(--shadow-color);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.sidebar.active .menu-link .text::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 17%;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  background-color: var(--base-color);
  transform: rotate(45deg);
  z-index: -1;
}

.sidebar.active .menu-link:hover .text {
  display: block;
  left: 70px;
  opacity: 1;
  visibility: visible;
}

.sidebar.active .menu-link i {
  font-size: 1rem;
}

.sidebar.active .arrow {
  display: none;
}

.sidebar.active .submenu {
  position: absolute;
  top: -2px;
  left: 60px;
  width: 150px;
  border-radius: 10px;
  padding: 10px 10px;
  border: 1px solid var(--hover-color);
  background-color: var(--base-color);
  box-shadow: 5px 0px 10px var(--shadow-color);
  box-sizing: border-box;
}

.sidebar.active .setting {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar.active .setting-title {
  text-align: center;
}

.sidebar.active .setting-item {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar.active .setting-item span a {
  display: none;
}

.sidebar.active .setting-item i {
  font-size: 1rem;
}

.sidebar.active .setting-item .text {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.sidebar.active .setting-item .text::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 17%;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  background-color: var(--base-color);
  transform: rotate(45deg);
  z-index: -1;
}

.sidebar.active .setting-item:hover .text {
  display: block;
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 7px;
  font-size: 0.55rem;
  border-radius: 4px;
  color: var(--secondary-color);
  background-color: var(--base-color);
  box-shadow: 0 0 10px var(--shadow-color);
  left: 70px;
  opacity: 1;
  visibility: visible;
}

.sidebar.active .account {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar.active .account-title {
  text-align: center;
}

.sidebar.active .account-item {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar.active .account-item span a {
  display: none;
}

.sidebar.active .account-item i {
  font-size: 1rem;
}

.sidebar.active .account-item .text {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.sidebar.active .account-item .text::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 17%;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  background-color: var(--base-color);
  transform: rotate(45deg);
  z-index: -1;
}

.sidebar.active .account-item:hover .text {
  display: block;
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 7px;
  font-size: 0.55rem;
  border-radius: 4px;
  color: var(--secondary-color);
  background-color: var(--base-color);
  box-shadow: 0 0 10px var(--shadow-color);
  left: 70px;
  opacity: 1;
  visibility: visible;
}
/*========== END OF SIDEBAR SECTION ==========*/

/*========== SIDECARDS SECTION ==========*/
.sidecards {
  grid-area: sidecards;
  /* background-color: blue; */
}
/*========== END OF SIDECARDS SECTION ==========*/

/*========== HERO SECTION ==========*/
.hero {
  grid-area: hero;
  /* background-color: red; */
}
/*========== END OF HERO SECTION ==========*/
